In [1]:
# Load Modules

import json
import pymongo
import pandas as pd
myclient = pymongo.MongoClient()

In [2]:
# # Read 'internet2020.csv'

# # Load CSV file
# internet2020_df = pd.read_csv('internet2020.csv' ,encoding = 'ISO-8859-1')
# # Save to JSON file
# internet2020_df.to_json('internet2020.json')
# # Load the JSON file
# internet2020_jdf = open('internet2020.json').read()
# # Read JSON file
# data = json.loads(internet2020_jdf)

In [3]:
# Read 'Area_Table_June_2020_V1.csv'

# # Load CSV file
# Area_Table_June_2020_V1_df = pd.read_csv('Area_Table_June_2020_V1.csv' ,encoding = 'ISO-8859-1')
# # Save to JSON file
# Area_Table_June_2020_V1_df.to_json('Area_Table_June_2020_V1.json')
# # Load the JSON file
# Area_Table_June_2020_V1_jdf = open('Area_Table_June_2020_V1.json').read()
# # Read JSON file
# data1 = json.loads(Area_Table_June_2020_V1_jdf)

In [4]:
# # Read 'Geography_Lookup_Table.csv'

# # Load CSV file
# Geography_Lookup_Table_df = pd.read_csv('Geography_Lookup_Table.csv' ,encoding = 'ISO-8859-1')
# # Save to JSON file
# Geography_Lookup_Table_df.to_json('Geography_Lookup_Table.json')
# # Load the JSON file
# Geography_Lookup_Table_jdf = open('Geography_Lookup_Table.json').read()
# # Read JSON file
# data2 = json.loads(Geography_Lookup_Table_jdf)

In [5]:
# Convert CSV to JSON: 'internet_census_combined.csv'

# Load CSV file
internet_census_combined_df = pd.read_csv('internet_census_combined.csv' ,encoding = 'ISO-8859-1')
# Save to JSON file
internet_census_combined_df.to_json('internet_census_combined.json')
# # Load the JSON file
# internet_census_combined_jdf = open('internet_census_combined.json').read()
# # Read JSON file
# data2 = json.loads(internet_census_combined_jdf)

In [6]:
# Read JSON into Pandas

internet_census_combined_jdf = pd.read_json('internet_census_combined.json')
internet_census_combined_jdf

,City,Population,MedianIncome,PopulationWithHighSchoolDiploma,PopulationWithAssociatesDegree,PopulationWithBachelorsDegree,PopulationWithHighSpeedInternet,Latitude,Longitude
0,"Aaronsburg, PA",1327,59531.0,274,56,72,181,40.010823,-80.000926
1,"Abbeville, AL",6275,39983.0,1329,433,335,2522,31.564724,-85.259123
2,"Abbeville, GA",4547,32105.0,994,180,206,2465,31.992576,-83.306453
3,"Abbeville, LA",25623,49663.0,5450,1216,1734,11765,29.975395,-92.127157
4,"Abbeville, MS",2073,43886.0,372,199,200,468,34.503392,-89.502517
...,...,...,...,...,...,...,...,...,...
19378,"Zumbro Falls, MN",1464,81364.0,349,139,133,181,44.287819,-92.427083
19379,"Zumbrota, MN",4932,70450.0,974,492,635,3141,44.295356,-92.674842
19380,"Zurich, MT",73,60938.0,23,6,5,19,48.586011,-109.030243
19381,"Zwingle, IA",729,49917.0,230,66,65,76,42.297197,-90.687446
19382,"Zwolle, LA",5304,35271.0,1279,258,237,214,31.639433,-93.641137